{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}

<h1>Liste des formations ({{ formations | length }} au total)</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Formation</th>
        </tr>
    </thead>
    <tbody>
        {% for formation in formations %}
        <tr>
            <td>{{ formation }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
