{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}

<h1>Liste des formations ({{ formations | length }} au total)</h1>

<p><a href="{{ path('add_formation') }}"><button type="button" class="btn btn-success">Ajouter une formation</button></a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Formation</th>
        </tr>
    </thead>
    <tbody>
        {% for formation in formations %}
        <tr>
            <td><a href="{{ path('show_formation', {'id': formation.id}) }}">{{ formation }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
