{% extends 'base.html.twig' %}

{% block title %}Ajout d'un module de formation{% endblock %}

{% block body %}

    <h1>Ajout d'un module de formation</h1>

    {{ form(formModuleFormation) }}

{% endblock %}