{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}

{% block body %}

<h1>Liste des modules de formation ({{ modules | length }} au total)</h1>

<p><a href="{{ path('add_module') }}"><button type="button" class="btn btn-success">Ajouter un module de formation</button></a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Module de formation</th>
        </tr>
    </thead>
    <tbody>
        {% for module in modules %}
        <tr>
            <td><a href="{{ path('show_module', {'id': module.id}) }}">{{ module }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
